/* App styles */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table.basic-table {
    --border-shadow-color: rgba(0, 0, 0, 0.02);
    --lt-gray-border-color: #c0c0c0;
    --lt-gray-1px-border: 1px solid var(--lt-gray-border-color);
    border-collapse: separate;
    border-spacing: 1px;
    background-color: var(--lt-gray-border-color);
}

table.basic-table tr {
    background-color: #fff;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: 400ms;
    transition-delay: 0ms;
}

table.basic-table tr.hilite {
    background-color: rgb(255, 255, 160);
    transition-duration: 0s;
    transition-delay: 0s;
}

table.basic-table th,
table.basic-table td {
    padding: 12px 16px;
    background-color: transparent;
    /*border: 1px solid var(--lt-gray-border-color);*/
}

table.basic-table tbody tr:first-of-type td {
    /*border-top: none;*/
    /*padding-top: 14px;*/
}

table.basic-table thead tr {
    position: relative;
}

table.basic-table thead th {
    background-color: #f0f0f0;
}


/* STICKY STYLES */

table.basic-table thead.sticky {
    position: relative;
    top: -1px;
}

table.basic-table thead.sticky tr {

}

table.basic-table thead.sticky th {
    position: sticky;
    top: 0;
}

table.basic-table thead.sticky th::before {
    /*border-top: 2px solid var(--lt-gray-border-color)*/
}

table.basic-table tbody.sticky {
    position: relative;
    top: -2px;
}

table.basic-table tbody.sticky tr:first-of-type {

}

table.basic-table tfoot.sticky {
    position: absolute;
    bottom: 0;
}

table.basic-table tfoot.sticky th,
table.basic-table tfoot.sticky td {
    position: sticky;
    bottom: 0;
}

table.basic-table tfoot.sticky td::after {
    /*border-bottom: 2px solid #c0c0c0;*/
}


/* SHADOW STYLES */

table.basic-table thead.shadow,
table.basic-table tfoot.shadow {
    z-index: 1;
}

table.basic-table thead.shadow th {
    padding-top: 14px;
    background-color: #f0f0f0;
    /*border: var(--lt-gray-1px-border);*/
    /*border-top: 1px solid transparent;*/
    /*border-bottom: none;*/
    box-shadow:
            /*inset 0 1px 0 0 var(--lt-gray-border-color),   !* simulates top border *!*/
            inset 0 -1px 0 0 var(--lt-gray-border-color), /* simulates bottom border */
            /*inset -1px 0 0 0 var(--border-shadow-color),*/
            /*inset 1px 0 0 0 var(--border-shadow-color)*/
            0 1px 0 0 var(--border-shadow-color),
            0 2px 0 0 var(--border-shadow-color),
            0 3px 0 0 var(--border-shadow-color),
            0 4px 0 0 var(--border-shadow-color),
            0 6px 0 0 var(--border-shadow-color),
            0 7px 0 0 var(--border-shadow-color),
            0 8px 0 0 var(--border-shadow-color)
            /*0 8px 8px 0 limegreen;*/
}

table.basic-table tfoot.shadow td {
    /*padding-top: 14px;*/
    background-color: #f0f0f0;
    /*border-bottom: none;*/
    box-shadow:
            /*inset 0 -2px 0 0 var(--lt-gray-border-color),*/
            0 -1px 0 0 var(--border-shadow-color),
            0 -2px 0 0 var(--border-shadow-color),
            0 -3px 0 0 var(--border-shadow-color)
            /*0 -5px 0 0 rgba(0, 0, 0, 0.03)*/
            /*0 -6px 0 0 rgba(0, 0, 0, 0.03)*/
    /*0 7px 0 0 rgba(0, 0, 0, 0.03),*/
    /*0 8px 0 0 rgba(0, 0, 0, 0.03)*/
}
